.form {
  padding-top: 40px;
  display: grid;
  place-content: center;
  gap: 24px;
  color: #D1C4E9;
}
label{
  color: #00BCD4
}

.formRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 32px;
  height: 40px;
}



.formRow input, textarea {
  width: 232px;
  background: #21212190;
  color: #D1C4E9;
  border: none;
  height: 32px;
}
.formRow textarea {
  height: 40px;
}

.formRow input:focus, textarea:focus{
  outline: none;
  background: #212121;
}

.form button {
  margin-top: 16px;
  background: #00838F;
  height: 32px;
  border: none;
  border-radius: 4px;
  color: #D1C4E9;
}
.form button:hover {
  background: #0097A7;
  cursor: pointer;
}
.form button:active {
  background: #006064;
  color: #80DEEA;
}