.article{
  box-sizing: border-box;
  padding: 16px;
  padding-left: 40px;
  width: 90%;
  display: flex;
  color: #fff;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  border-bottom: 0.25px solid #ffffff80;
}
.article .description {
  font-size: 14px;
  text-transform: capitalize;
  color: #B39DDB;
}
.article:hover {
  background: #ffffff10;
}
.articleRow {
  display: flex;
  align-items: center;
  gap: 16px;
}