a {
  text-decoration: none;
  color: #7E57C2;
}
a:hover {
  color: #EDE7F6
}
a:active {
  color: #5E35B1
}

.appBar {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  padding-left: 64px;
  padding-right: 64px;
  background: #041016;
  color: #7E57C2;
  font-weight: 200;
}

.appBar h1 a {
  font-family: 'Courier New', Courier, monospace;
  color: #9575CD;
  text-shadow:  0.5px 0px #7C4DFF;
  transition: 0.4s;
}
.appBar h1 a:hover {
  text-shadow: 0px 0.5px #7C4DFF;
  transition: 0.4s;
}
.navBar{
  list-style-type: none;
  display: flex;
  gap: 32px;
  letter-spacing: 2px;
  font-weight: 600;
}

.navBar button {
  background: none;
  border: none;
  color:#7C4DFF;
}

.navBar button:hover {
  cursor: pointer;
}