.navbar {
  height: 100%;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.navbar .navbarContainer {
  height: 60%;
  width: 100%;
}

.navbar button {
  background: none;
  color: #ffffff80;
  border: none;
}
.navbar button:hover {
  color: #fff;
  cursor: pointer;
}

.navbarContainer .openBar {
  height: 80px;
  width: 100%;
  border-bottom: 0.5px solid #ffffff80;
  animation: showBar 1s;
}
.navbarContainer .closedBar {
  height: 80px;
  width: 100%;
  border-bottom: 0.5px solid #ffffff80;
  transform: translateX(-800px);
  animation: hideBar 1s;
}
@keyframes hideBar {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-400px);
  }
}
@keyframes showBar {
  0%{
    transform: translateX(-400px);
  }
  100%{
    transform: translateX(0);
  }
}

