.aboutPage{
  box-sizing: border-box;
  margin-left: 56px;
  margin-top: 8px;
  padding-bottom: 8px;
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  border-top: 0.5px solid #ffffff80;
  border-bottom: 0.5px solid #ffffff80;
}